{% extends 'main/mainpage.html' %}
{% load static %}
{% block content %}
    <div class="wrapper">

    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/footer.css' %}">

    {{ skillspage.text|safe }}
        <br><br><br>
        <img class="centery2" src="/media/home/skills_years.png" alt="homepage_img">


    </div>
<br><br><br><br><br><br><br><br><br>




{% endblock %}